<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

Options All -Indexes

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>
